<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>imagepost</title>
  <link
    rel="stylesheet"
    type="text/css"
    href="/application/public/css/imagepost.css"
  />
</head>
<body>
  
    <div id="post-container">
      <img id="image-post-image" src="/{{currentPost.photopath}}" />
      <div
        id="post-info">POSTED BY -      {{currentPost.username}}<br><span>
      <span>TIME -           {{currentPost.created}}</span><br>
      <span>
      DESCRIPTION - {{currentPost.description}}</span>
      </span></div>
      
      </div>
          <header id="image-post-title">
            <h2 id="image-post-title-text">{{currentPost.title}}</h2>

          </header>

        
    </div>
    <div id="comment-container">
      <div id="messages">
      <div id="message-">
        {{#each currentPost.comments}}
          {{> comment this}}
        {{/each}}
      </div>
    </div>
      <div id="comment-box">
        <textarea
          id="comment-box-text"
          class="form-control"
          aria-label="With textarea"
          placeholder="Enter Comment HERE...."
        ></textarea>
        <button id="comment-box-button" type="button">COMMENT</button>
      </div>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', (event) =>{
      document.querySelectorAll('span[class=date-posted]').forEach((postedDate) =>{
        postedDate.textContent = new Date(postedDate.textContent).toLocaleString();

      });
    });
    function addMessage(data){
      let template = document.createElement('template');
      template.innerHTML= `
      <div id="message-${data.commentId}">
       <strong class="author-text">@${data.username}</strong>
       <span class="date-posted">${new Date().toLocaleString()}</span>
       <div class="comment-text">${data.comment}</div>
      </div>`;
      document.getElementById('messages').firstChild.before(template.content.firstChild);
      document. location. reload();
    }
    document.getElementById("comment-box-button").onclick =(event) =>{
     let commentText = document.getElementById('comment-box-text').value;
     let postId = document.location.pathname.match(/\d+/g).map(Number)[0];

     if(!commentText){
       return;
     }
     let fetchOptions = {
       method: "POST",
       headers: {
         "Content-Type":"Application/json"
       },
       body: JSON.stringify({
         comment:commentText,
         postId:postId
       })
     }
       fetch('/comments/create' , fetchOptions)
       .then((response) => response.json())
       .then((data) =>{
         if(data.code == 1){
           addMessage(data);
         }else{
           addFlashFromFrontEnd(data.message, data.status);
         }
       }).catch((err) => console.log(err));
     }
    

  </script>
</body>